[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "examples/glm"]
	path = examples/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/spdlog"]
    path = external/spdlog
    url = https://github.com/gabime/spdlog.git